<div class="page-title">View Customer Details</div>
<p-card>
  <div class="org-name">
    Johnny Depp
  </div>
  <div class="ent-detail">
    <div class="col">
      <div>
        <span class="label">Occupation:</span> Actor
      </div>
      <div>
        <span class="label">Gender:</span> Male
      </div>
      <div>
        <span class="label">D.O.B:</span> 9 May 1963 (58y)
      </div>
    </div>

    <div class="col">
      <div>
        <span class="label">Post. Address:</span> PMB 123, Ghana
      </div>
      <div>
        <span class="label">Res. Address:</span> 254 Jam Building, ajnda jladn Labone
      </div>
      <div>
        <span class="label">City: </span>Accra
      </div>
      <div>
        <span class="label">Region:</span> Greater Accra
      </div>
      <div>
        <span class="label">Digital Address:</span> 125-ad-456
      </div>
    </div>
    <div class="col">
      <div>
        <span class="label">Phone I:</span> +233 1234567
      </div>
      <div>
        <span class="label">Phone II:</span> +233 1234569
      </div>
      <div>
        <span class="label">Email:</span> info@mbanq.com
      </div>
    </div>
    <div class="col">
      <div>
        <img class="profile-pic" src="assets/img/user-img-2.png" alt="Image">
      </div>
    </div>
  </div>
   <hr/>

   <div class="extra-data">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="pi pi-calendar"></i>
            <span>Savings</span>
        </ng-template>
        <div class="tab-body">
          <p>
            No available info
          </p>
        </div>

    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate = "header">
          <i class="pi pi-calendar"></i>
          <span>Loans</span>
      </ng-template>
      <div class="tab-body">
        <p>
          No available info
        </p>
      </div>

  </p-tabPanel>
      <p-tabPanel>
          <ng-template pTemplate = "header">
              <i class="pi pi-calendar"></i>
              <span>Documents</span>
          </ng-template>
          <div class="tab-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

      </p-tabPanel>
      <p-tabPanel header="Header II">
          <ng-template pTemplate = "header">
              <i class="pi pi-user"></i>
              <span>Next of Kin</span>
          </ng-template>
          <div class="tab-body">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
          </div>

      </p-tabPanel>
      <p-tabPanel header="Header III">
          <ng-template pTemplate = "header">
              <i class="pi pi-search"></i>
              <span>Header III</span>
          </ng-template>
          <div class="tab-body">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
              cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
              Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
            </p>
          </div>

      </p-tabPanel>
    </p-tabView>
  </div>
</p-card>


