:host ::ng-deep {
  .p-card{
    width: 100%;
    border-radius: 5px;
  }

  .p-card .p-card-content{
    padding-top: 0;
  }
}

.page-title{
  color: #1C61A5;
  font-size: 1.5rem;
  padding: .8rem 0;
  border-bottom: 2px solid #1C61A5;
}

.org-name{
  font-size: 1.5rem;
  color: #1C61A5;
  margin-bottom: 7px;
}
.org-detail{
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
}

.col{
  display: flex;
  flex-direction: column;
}

.col > div {
  padding: 5px;
}

.col:nth-child(2){
  flex-grow: 2;
}

.label{
  color: #1C61A5;
  font-weight: 500;
}

@media (max-width: 911px){
  .page-title{
    font-size: 1rem;
    padding: .7rem 1rem;
  }
  .org-name{
    font-size: 1rem;
  }
  .org-detail{
    flex-direction: column;
  }
}

