<p-card>
  <div class="org-name">
    mBANQ Limited
  </div>
  <div class="org-detail">
    <div class="col">
      <div>
        <span class="label">Created:</span> May 9, 2019
      </div>
      <div>
        <span class="label">Number of Branches:</span> 1 (view)
      </div>
      <div>
        <span class="label">Total Users:</span> 3 (view)
      </div>
    </div>
    <div class="col">
      <div>
        <span class="label">Post. Address:</span> PMB 123, Ghana
      </div>
      <div>
        <span class="label">Res. Address:</span> 254 Jam Building, ajnda jladn Labone
      </div>
      <div>
        <span class="label">City: </span>Accra
      </div>
      <div>
        <span class="label">Region:</span> Greater Accra
      </div>
      <div>
        <span class="label">Digital Address:</span> 125-ad-456
      </div>
    </div>
    <div class="col">
      <div>
        <span class="label">Phone:</span> +233 1234567
      </div>
      <div>
        <span class="label">Email:</span> info@mbanq.com
      </div>
    </div>
  </div>
</p-card>


