<app-header></app-header>
<main>
  <div class="wrapper">
    <p-card>
      <p> <i style="font-size: 1.5rem;margin-right: 0.4rem;" class="pi pi-user"></i> User Login</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="p-field">
            <label class="c-label" for="Username">Email <span style="color: red;">*</span></label>
            <div style="display: block;" class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input class="c-input" type="text" formControlName="username" pInputText placeholder="name@example.com"/>
            </div>
            <span *ngIf="submitted && form.controls.username.errors?.required" style="color: red; font-size: .7rem;">Email is required</span>
        </div>
        <div class="p-field">
            <label class="c-label" for="Password">Password <span style="color: red;">*</span></label>
            <div style="display: block;" class="p-input-icon-left">
              <i class="pi pi-key"></i>
              <input class="c-input" id="password" type="password" pInputText formControlName="password" placeholder="Enter Password" />
            </div>
            <span *ngIf="submitted && form.controls.password.errors?.required" style="color: red; font-size: .7rem;">Password is required</span>
            <!-- <input class="c-input" type="password" formControlName="password" pPassword [feedback]="false" [toggleMask]="true" /> -->
        </div>
        <button [disabled]="loading" styleClass="p-button-sm" pButton type="submit" label="LOG IN"></button>
        <p-progressSpinner *ngIf="loading" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>

        <div style="padding-top: 10px;">
            <small><a routerLink="/account/reset-password">Forgotten password?</a></small>
        </div>

    </form>
    </p-card>
  </div>
</main>
<!-- <app-footer></app-footer> -->

