section{
  display: flex;
  width: 100%;

  // background: #f4fafe;//#E1F5FD;
}

.sidebar{
  // flex-grow: 1;
  width: 0;
}

.content{
  // flex-grow: 3;
  width: 100%;
  // background: #F8F9FA;
  margin: 0 3rem;
  // margin-right: 10px;
  // margin-left: 5px;
  // padding-top: 20px;
  // height: 100vh;
  // overflow: auto;

}

.content-head{
  top: 0;
  height: 70px;
  background: #1C61A5;
  margin-bottom: 20px;
}

@media (max-width: 911px){
  section{
    padding: 0;
  }
  .sidebar{
    width: 0;
  }
  .content{
    width: 100%;
    margin: 0;
    padding: 0;
  }


}
