section{
  display: flex;
  background: #f4fafe;//#E1F5FD;
}

.sidebar{
  // flex-grow: 1;
  width: 25%;
}

.content{
  // flex-grow: 3;
  width: 100%;
  // background: #F8F9FA;
  margin-right: 10px;
  padding-top: 20px;
  height: 100vh;

}
