header{
  top: 0;
  height: 70px;
  background: #1C61A5;
}

.main-header{
  margin: 0 100px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.head-logo{
  color: #fff;
  font-size: 1.3rem;
}

@media (max-width: 911px){
  .main-header{
    margin: 0 20px;
  }
}

