header{
  top: 0;
  height: 70px;
  background: #1C61A5;
  position: sticky;
  z-index: 10000;
}

.main-header{
  margin: 0 6rem;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.head-logo{
  font-size: 1.3rem;
}

.head-logo a{
  color: #fff;
  text-decoration: none;
}

.icon{
  margin-right: .7rem;
  color: #fff;
  cursor: pointer;
  // display: none;
}

.icon .pi{
  font-size: 1.5rem;
}

@media (max-width: 911px){
  .main-header{
    margin: 0 1rem;
  }
  .icon{
    display: inline-block;
  }
}

