<!-- <app-header></app-header> -->
<main>
  <div class="message">
    <p>Forgotten password? No worries. </p><p>Kindly provide the email associated with your account to recover.</p>

  </div>
  <div class="wrapper">

    <p-card>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="p-field">
            <label class="c-label" for="Username">Email <span style="color: red;">*</span></label>
            <div style="display: block;" class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input class="c-input" type="text" formControlName="username" pInputText placeholder="name@example.com"/>
            </div>
            <span *ngIf="submitted && form.controls.username.errors?.required" style="color: red; font-size: .7rem;">Email is required</span>
        </div>
        <button [disabled]="loading" styleClass="p-button-sm" pButton type="submit" label="RECOVER ACCOUNT"></button>
        <p-progressSpinner *ngIf="loading" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
      </form>
    </p-card>
  </div>
</main>
