@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container{
  height: 100vh;
}

body{
  background: #E1F5FD;
  overflow-x: hidden;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1C61A5 #959491 ;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #959491;//#ffc800;
}

*::-webkit-scrollbar-thumb {
  background-color: #1C61A5;
  border-radius: 20px;
  border: 3px solid #1C61A5;
}



