<div class="wrapper">
  <div class="overview-widgets">
    <div class="widget green">
      <div class="widget-header">ACTIVE BORROWERS</div>
      <div class="widget-body">0</div>
      <div class="widget-footer"><span class="icon"><i class="pi pi-users"></i></span></div>
    </div>
    <div class="widget yellow">
      <div class="widget-header">OPEN LOANS</div>
      <div class="widget-body">0</div>
      <div class="widget-footer"><span class="icon"><i class="pi pi-users"></i></span></div>
    </div>
    <div class="widget blue">
      <div class="widget-header">ACTIVE BORROWERS</div>
      <div class="widget-body">0</div>
      <div class="widget-footer"><span class="icon"><i class="pi pi-users"></i></span></div>
    </div>
    <div class="widget red">
      <div class="widget-header">ACTIVE SAVERS</div>
      <div class="widget-body">0</div>
      <div class="widget-footer"><span class="icon"><i class="pi pi-users"></i></span></div>
    </div>
  </div>
  <div class="custom-widgets">xxx</div>
</div>
